

ul {
  list-style-type: none;
  padding: 0;
}






.App {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.todolist {
  background-color: rgb(229, 208, 208);
  width: 200px;
  text-align: start;
  margin: 0 auto;
  padding: 20px;
}

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.task {
font-weight: bold;
}

.active {
  background-color: rgb(131, 160, 247);
  color: white;
  border-radius: 5px;
  border-color: rgb(131, 160, 247);;
}

.taskInputError {
  border: 2px solid red;
  outline: none;
}